name: Go package

permissions:
  contents: write

on:
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install Unbound dependencies
        run: sudo apt-get update && sudo apt-get install -y libunbound-dev

      - name: Test
        run: go test -v ./...

      - name: Build server
        run: go build -o letsdebug-server cmd/server/server.go

      - name: Build cli
        run: go build -o letsdebug-cli cmd/cli/cli.go

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: letsdebug-binaries
          path: letsdebug-*
  publish:
    needs: build
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: letsdebug-binaries
          path: letsdebug-binaries
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            letsdebug-binaries/letsdebug-server
            letsdebug-binaries/letsdebug-cli
