name: Build and Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install Unbound dependencies
        run: sudo apt-get update && sudo apt-get install -y libunbound-dev

      - name: Test
        run: go test -v ./...

      - name: Build server
        run: go build -o letsdebug-server cmd/server/server.go

      - name: Build cli
        run: go build -o letsdebug-cli cmd/cli/cli.go
